*{
    margin: 0;
    padding: 0;
}
.navigation{
    background-color:#1f2937 ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;

}
.second{
    padding-top: 10px;
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    height: 400px;
    justify-content: center;
    align-items: center;
    
}
#rightlinks{
    display: flex;
    gap: 20px;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #e5e7eb;
    
}
.image{
    height: 200px;
    width: 400px;
    color: white;
    background-color: grey;
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
button{
    color: white;
    background-color:#3882f6;
    height: 40px;
    width: 90px;
    
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
      
}
.card{
   height: 100px; 
   width: 200px;
   border: 2px solid blue;
   border-radius: 10px;
   margin: 1px;  

}
.cardcontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
    padding-bottom: 100px;
   
}
.random_info{
    padding-top: 30px;
}
.three{
    height: 200px;
    background-color: #e5e7eb;
      
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 60px;
    
}
.author{
    padding-right: 300px;
    font-size: 36px light italic;
    color: #1f2937;

}
.signup{
    height: 200px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.four{
    color: white;
    background-color: #3882f6;
    height: 100px;
    width:700px ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    gap: 5vh;
    border-radius:10px ;
}
button{
   border-radius: 10px; 
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 70px;
    
}
    
    



